


<tr class = "team-row">
  <td>
    <%= team_logo team, size: 60, ct: true, custom_size: true,
                          cs: {:w => 45, :h => 35} %>
  </td>
  
  <td>
    <div>
      <%= link_to team.nickname, team %>
    </div>
    <div>
      <span><%= team.name %></span>
    </div>
    
  </td>
  
  <td>
    <div>
      <a href = "http://<%= team.link %>"
         title = "<%= team.short_name %>"><%= team.short_name %></a>
    </div>
  </td>
  
  <td>
    <div class = "conf-avatar">
      <div style="background-image:url('uploads/team/conference/<%= team.conference.downcase %>.gif')">
        
      </div>
    </div>
  </td>
  <td>
    <div><span>wins: <%= team.wins %></span></div>
    <div><span>losses: <%= team.losses %></span></div>
  </td>
  <td>
    <div><span>position: <%= team.position %> </span></div>
    <div><span>playoff: <%= team.playoff ? "yes" : "no" %> </span></div>
  </td>
  
  
  <% if current_user.admin? %>
  <td>
    <div><%= link_to "edit", edit_team_path(team) %></div>
    <div><%= link_to "delete", team, method: :delete,
                                  data: { confirm: "You sure?" } %></div>
  </td>
  <% end %>

</tr>