<% provide(:title, @team.short_name) %>
<h1><%= @team.name %></h1>
<div class="row">

      <div><%= team_logo @team, size:80 %></div>
        

      
      <div><span>Logo: <%= (@team.logo?) ? 'ya' : 'nai' %></span>
      </div>
      <div>
        <%= @team.logo %>
      </div>

    <div>
      <span>Playoff: </span> 
      <span ><%= @team.playoff? ? "yes" : "no"  %></span>
    </div>
  </aside>

</div>