
<% team = Team.find(prediction.team_id) %>
<% points = 0 %>


<tr class = "bet-row" id = "pred-<%= prediction.id %>">
  <td rowspan = "2">
    <%= team_logo team, size: 50, ct: true, 
                          custom_size: true, cs: {:w => 40, :h => 32} %>
  </td>
  
  <td class = "left-align" rowspan = "2">
    <div>
      <span><%= team.name %></span>
    </div>
  </td>
  <td class = "left-align">
    <span></span>
  </td>
  <td class = "left-align 
      <%= (prediction.position == team.position)? 'correct' : '' %>">
    <span><%= prediction.position.ordinalize %></span>
  </td>
  <%
    if prediction.position == team.position
      points += 1
    end
  %>
  <td class = "left-align playoff <%= (prediction.playoff)? 'yes' : 'no' %>
      <%= (prediction.playoff == true && team.playoff == true)? 'correct' : '' %>">
    <span><%= (prediction.playoff)? 'playoff' : 'out' %></span>
  </td>
  <%
    if prediction.playoff == true && team.playoff == true
      points += 1
    end
  %>
  <td class = "center
      <%= (prediction.wins == team.wins && prediction.losses == team.losses)? 'correct' : '' %>">
    <span><%= prediction.wins %></span>
  </td>
  <td class = "center dash 
      <%= (prediction.wins == team.wins && prediction.losses == team.losses)? 'correct' : '' %>">
    <span>-</span>
  </td>
  <td class = "center
      <%= (prediction.wins == team.wins && prediction.losses == team.losses)? 'correct' : '' %>">
    <span><%= prediction.losses %></span>
  </td>
  <%
    if prediction.wins == team.wins && prediction.losses == team.losses
      points += 3
    end
  %>
  
  <td rowspan = "2">
    <div><span><%= points %></span></div>
  </td>
</tr>


<tr class = "bet-row-lower">
  <td class = "left-align">
    <span></span>
  </td>
  <td class = "left-align
      <%= (prediction.position == team.position)? 'correct' : '' %>">
    <span><%= team.position.ordinalize %></span>
  </td>
  <td class = "left-align playoff <%= (team.playoff)? 'yes' : 'no' %>
      <%= (prediction.playoff == true && team.playoff == true)? 'correct' : '' %>">
    <span><%= (team.playoff)? 'playoff' : 'out' %></span>
  </td>
  <td class = "center
      <%= (prediction.wins == team.wins && prediction.losses == team.losses)? 'correct' : '' %>">
    <span><%= team.wins %></span>
  </td>
  <td class = "center dash
      <%= (prediction.wins == team.wins && prediction.losses == team.losses)? 'correct' : '' %>">
    <span>-</span>
  </td>
  <td class = "center
      <%= (prediction.wins == team.wins && prediction.losses == team.losses)? 'correct' : '' %>">
    <span><%= team.losses %></span>
  </td>
</tr>

<% @total_conf_pts += points %>