


<tr class = "user-row">
  <td>
    <%= avatar_for user,  size: 50, ct: true, 
                          custom_size: true, cs: {:w => 80, :h => 65} %>
  </td>
  
  <td>
    <div class="user-admin-text" >
                
      <div>
        <%= link_to user.name, user %>
   
      </div>
      <% if user.admin? %>
      <span class = "small-admin-notific">admin</span>
      <% end %>
    </div>
  </td>

  <td>
    <div><span><%= user.email %></span></div>

  </td>

  
  <% if current_user.admin? %>
    <td>
      <div><%= link_to "edit", edit_user_path(user) %></div>
      <div><%= link_to "edit_admin_role", edit_admin_role_user_path(user) %></div>
      <div>
        <% if !current_user?(user) %>
         
        <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
        <% end %>
      </div>
    </td>
  <% end %>

</tr>