

<tr class = "player-row">
  <td>
    <%= avatar_for_player player, size: 50, ct: true, 
                          custom_size: true, cs: {:w => 80, :h => 65}%>
  </td>
  
  <td>
    <div>
      <%= link_to player.name, player %>
    </div>
  </td>
  
  <td>
    <div >
      <span>points: <%=  player.points %></span>
    </div>
  </td>
  <td>
    <div><%= link_to "Predictions", player_predictions_path(player) %></div>
    <div><span><%= player.predictions.count %> predictions</span></div>
  </td>
  
  <% if current_user.admin? %>
  <td>
    <div><%= link_to "edit", edit_player_path(player) %></div>
    
    <div><%= link_to "delete", player, method: :delete,
                                  data: { confirm: "You sure?" } %></div>
  </td>
  <% end %>

</tr>