<header class="navbar upper navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "KLADARA", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          
          <li> 
            <a href="<%= user_path current_user %>" class="header-avatar" 
            title = "<%= current_user.name %> - my profile">
              <%= header_avatar_for current_user, size:30 %>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              
              <div>
                <span><%= current_user.name %></span>
              
                <b class="caret"></b>
              </div>
              <% if current_user.admin? %>
              <span class = "small-admin-notific">admin</span>
              <% end %>

            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>